{{>layout/header}}
{{>support/support-sidebar}}
<meta name="_csrf" content="{{_csrf_token}}"/>
<meta name="_csrf_header" content="{{_csrf_header}}"/>
<style>
.postRenderingContent,
.postRenderingContent * {
  font-size: large !important;
  line-height: 2 !important;
}
</style>
<div class="contents-right">
    <div class="row row-cols-3 row-md-cols-2 gutter-5 contents-list" style="margin-top: 0rem; margin-bottom: 0em; --th-gutter: 0;">
        <div class="contents-container container-md" style="padding: 0">
            <div class="contents-inner">
                <div class="form-group">
                    <form>

                        <section class="campland-N13" id="wVMf1395as" style="padding: 0;">

                            <div class="contents-container container-md">
                                <div class="contents-inner">
                                <div class="imageset">
                                    <img class="imageset-img" src="./resources/images/img_basic_N37_1.png" alt="이미지" />
                                </div>
                                <div class="form-group">
                                    <form target="_blank" action="https://api.imbackend.com/fn/v1/form.form" method="POST">
                                        <div class="form-box">
                                            <legend class="form-tit h6">분야<span>*</span>
                                            </legend>
                                            <div class="checkset-wrap">
                                                <div class="checkset checkset-fill">
                                                    <input id="checkset-basic-N37-a-1" name="Project" class="checkset-input" type="checkbox" value="Project" />
                                                    <label for="checkset-basic-N37-a-1" class="checkset-label">Project</label>
                                                </div>
                                                <div class="checkset checkset-fill">
                                                    <input id="checkset-basic-N37-a-2" name="Portfolio" class="checkset-input" type="checkbox" value="Portfolio" />
                                                    <label for="checkset-basic-N37-a-2" class="checkset-label">Portfolio</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-box">
                                            <div class="inputset inputset-line">
                                                <label for="inquiryEmail" class="form-tit h6">E-mail <span>*</span>
                                                </label>
                                                <input id="inquiryEmail" type="email" name="E-mail" class="inputset-input form-control" placeholder="이메일을 입력해주세요." required="" />
                                            </div>
                                        </div>
                                        <div class="form-box">
                                            <div class="inputset inputset-line">
                                                <label for="inquiryTitle" class="form-tit h6">제목 <span>*</span>
                                                </label>
                                                <textarea id="inquiryTitle" name="문의 제목" class="inputset-textarea form-control" placeholder="제목을 입력해주세요." required=""></textarea>
                                            </div>
                                        </div>
                                        <div class="form-box">
                                            <div class="inputset inputset-line">
                                                <label for="inquiryDetails" class="form-tit h6">문의 내용 <span>*</span>
                                                </label>
                                                <textarea id="inquiryDetails" name="문의 내용" class="inputset-textarea form-control" placeholder="문의 내용을 입력해주세요." required=""></textarea>
                                            </div>
                                        </div>
                                        <div class="contents-agree">
                                            <div class="checkset checkset-fill">
                                                <input id="checkset-basic-N37-b-1" name="개인정보 수집동의" class="checkset-input" type="checkbox" value="개인정보 수집동의" />
                                                <label for="checkset-basic-N37-b-1" class="checkset-label">개인정보 수집동의</label>
                                            </div>
                                            <a href="javascript:void(0);" class="btnset btnset-link modalset-open-btn modal-privacy-btn" data-modal-target="modalset-agree">보기</a>
                                        </div>
                                        <div class="form-btn">
                                            <button class="btnset btnset-primary" type="submit">문의하기</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        </section>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>
</div>
<div class="contents-dim"></div>
</div>

</div>
</main>
<!--<script src="/js/feature/write.js"></script>-->
<!--<script src="/js/feature/writeRendering.js"></script>-->
{{>layout/footer}}