<main class="th-layout-main">
    <div class="th-layout-content">
        <section class="butti-N10" id="Rymf138FGh" style="height: 8.2rem;">
        </section>
        <div class="basic-N50" id="AKMF137D57">
            <div class="contents-container container-md" style="max-width:calc(1280px + 40rem);">
                <div class="contents-inner">
                    <div class="textset">
                        <h2 class="h2 textset-tit">AI Features</h2>
                        <button class="contents-btn btn-filter" type="button">
                            <img src="/resources/icons/ico_filter_black.svg" alt="모바일 필터 아이콘" />
                        </button>
                    </div>
                    <se class="contents-body">
                        <div class="contents-left">
                            <div class="contents-filter-header">
                                <strong class="p1">필터</strong>
                                <button class="contents-btn btn-close">
                                    <img src="/resources/icons/ico_close_black.svg" alt="닫기 아이콘" />
                                </button>
                            </div>
                            <div class="contents-filter-body">
                                <div class="accordset accordset-plus">
                                    <div class="accordset-item">
                                        <div class="accordset-header-content">
                                            <button class="accordset-button btn" type="button">
                                                <span class="p1">글쓰기</span>
                                            </button>
                                        </div>
                                        <div class="accordset-body">
                                            <div class="accordset-content">
                                                <div class="form-box" style="margin-bottom: 1.5rem;">
                                                    <div class="checkset-fill-round">
                                                        <label for="" class="checkset-label" style="cursor: pointer;" onclick="location.href='/feature/write'">AI 글쓰기</label>
                                                    </div>
                                                </div>
                                                <div class="form-box" style="margin-bottom: 1rem;">
                                                    <div class="checkset-fill-round">
                                                        <label for="" class="checkset-label" style="cursor: pointer;" onclick="location.href='/feature/write/list'">AI 글쓰기 목록</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordset-item">
                                        <div class="accordset-header-content">
                                            <button class="accordset-button btn" type="button">
                                                <span class="p1">Naver Cafe 포스팅</span>
                                            </button>
                                        </div>
                                        <div class="accordset-body">
                                            <div class="accordset-content">
                                                <div class="form-box" style="margin-bottom: 1.5rem;">
                                                    <div class="checkset-fill-round">
                                                        <label for="" class="checkset-label" style="cursor: pointer;" onclick="location.href='/cafe/post'">Cafe 포스팅</label>
                                                    </div>
                                                </div>
                                                <div class="form-box" style="margin-bottom: 1.5rem;">
                                                    <div class="checkset-fill-round">
                                                        <label for="" class="checkset-label" style="cursor: pointer;" onclick="location.href='/cafe/post/list'">Cafe 포스팅 목록</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordset-item">
                                        <div class="accordset-header-content">
                                            <button class="accordset-button btn" type="button">
                                                <span class="p1">Naver Cafe AI 포스팅</span>
                                            </button>
                                        </div>
                                        <div class="accordset-body">
                                            <div class="accordset-content">
                                                <div class="form-box" style="margin-bottom: 1.5rem;">
                                                    <div class="checkset-fill-round">
                                                        <label for="" class="checkset-label" style="cursor: pointer;" onclick="location.href='/cafe/ai/post'">AI Cafe 포스팅</label>
                                                    </div>
                                                </div>
                                                <div class="form-box" style="margin-bottom: 1rem;">
                                                    <div class="checkset-fill-round">
                                                        <label for="" class="checkset-label" style="cursor: pointer;" onclick="location.href='/cafe/ai/post/list'">AI Cafe 포스팅 목록</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>