<script src="/resources/js/setting.js"></script>
<script src="/resources/js/plugin.js"></script>
<script src="/resources/js/templatehouse.js"></script>
<script src="/resources/js/style.js"></script>
</body>

</html>