<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">

<head>
    <title>AUTO CAFE - Naver Client Authentication Check</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/resources/css/setting.css" />
    <link rel="stylesheet" href="/resources/css/plugin.css" />
    <link rel="stylesheet" href="/resources/css/templatehouse.css" />
    <link rel="stylesheet" href="/resources/css/style.css" />
</head>

<body>
<header class="th-layout-header" style="margin-bottom: 2rem;">
    <div class="basic-N1" id="xEmEwb3jH7">
        <div class="header-container container-lg">
            <div class="header-center">
                <h1 class="header-title" style="text-align: center;">
                    <a style="width: 100%;">
                        <img src="/resources/profile/logo_black_removebg-preview.png" alt="로고" />
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<main class="th-layout-main">
    <div class="th-layout-content">
        <div class="basic-N24" id="SignInForm" >
            <div class="contents-container container-md">
                <div class="contents-inner">
                    <div class="form-group">
                        <form target="_blank" action="https://api.imbackend.com/fn/v1/form.form" method="POST">
                            <div class="textset">
                                <h2 class="h2 textset-tit">Naver API Client 인증</h2>
                            </div>
                            <div class="form-box">
                                <div class="inputset">