{{>layout/header}}
{{>layout/featuresSidebar}}
<meta name="_csrf" content="{{_csrf_token}}"/>
<meta name="_csrf_header" content="{{_csrf_header}}"/>
<link rel="stylesheet" href="/resources/profile/toast/toastui-editor.min.css" />

<div class="contents-right">
    <div class="row row-cols-3 row-md-cols-2 gutter-5 contents-list" style="margin-top: 0rem; margin-bottom: 0em; --th-gutter: 0;">
        <div class="contents-container container-md">
            <div class="contents-inner">
                <div class="form-group">
                    <form>
                        <div class="textset">
                            <h2 class="h2 textset-tit">AI Cafe 포스팅</h2>
                        </div>
                        <div class="form-box" style="margin-bottom: 4rem">
                            <div class="inputset inputset-line">
                                <label for="basic-N37-inputset-a-1" class="form-tit h6" style="margin-bottom: 2rem;">Cafe ID
                                </label>
                                <div id="cafeIdTemplate" data-template='{{{cafeIdTemplate}}}' style="display:none;"></div>
                                <div class="selectset">
                                    <div class="selectset-area">
                                        <button id="selectedCafeIdBtn" class="selectset-toggle btn" type="button">
                                            <span id="templateCafeIdName">템플릿</span>
                                        </button>
                                        <ul class="selectset-list" id="cafeNameList">
                                            <li class="selectset-item">

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-box" style="margin-bottom: 4rem">
                            <div class="inputset inputset-line">
                                <label for="basic-N37-inputset-a-1" class="form-tit h6" style="margin-bottom: 2rem;">Cafe 포스팅 Template
                                </label>
                                <div id="cafePostingTemplate" data-template='{{{cafePostingTemplate}}}' style="display:none;"></div>
                                <div class="selectset">
                                    <div class="selectset-area">
                                        <button id="selectedTagBtn" class="selectset-toggle btn" type="button">
                                            <span id="templateName">템플릿</span>
                                        </button>
                                        <ul class="selectset-list" id="tagList">
                                            <li class="selectset-item">

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-box" style="margin-bottom: 4rem">
                            <div class="inputset inputset-line">
                                <label for="subject" class="form-tit h6">주제 <span>*</span>
                                </label>
                                <input id="subject" type="text" class="inputset-input form-control" placeholder="주제를 입력해주세요." required="" />
                            </div>
                        </div>
                        <div class="form-box" style="margin-bottom: 4rem">
                            <div class="inputset inputset-line">
                                <label for="prompt" class="form-tit h6" style="margin-bottom: 2rem;">요청 사항
                                </label>
                                <textarea id="prompt" name="prompt" class="inputset-textarea form-control" placeholder="요청 사항을 입력해주세요." style="height: 8rem;" value=""></textarea>
                                <span class="inputset-count" style="display: none">0</span>
                            </div>
                        </div>

                        <div class="form-btn" style="margin-bottom: 1rem; text-align: right;">
                            <button class="btnset btnset-primary" type="button" id="aiPostTemplateUpdate">포스팅 템플릿 수정</button>
                        </div>

                        <div class="form-box">
                            <div class="inputset">
                                <label for="images" class="form-tit h6" style="margin-bottom: 2rem;">이미지</label>
                                <div style="display: flex; gap: 8px; align-items: center; margin-bottom: 4rem;">
                                    <input class="form-control" type="file" id="images" multiple="">
                                </div>
                            </div>
                        </div>


                        <div class="form-btn" style="margin-bottom: 3rem;">
                            <button class="btnset btnset-primary btnset-block" type="button" id="cafeAiPostBtn">생성하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="form-box" style="padding-top: 3rem;">
            <div class="inputset" id="spinner" style=" visibility: hidden; text-align: center;">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

        <section class="campland-N13" id="wVMf1395as" style="padding-top: 2rem;">
            <div class="contents-container container-md">
                <div class="contents-inner">
                    <div class="textset">
                        <h2 class="textset-tit h6" id="title" value="{{title}}">{{title}}</h2>
                    </div>
                    <div class="contents-body">

                        <div id="editor" style="width: 100%"></div>
                        <p id="imgUrls" data-value="{{imgUrls}}" style="display:none"></p>
                    </div>

                    <div class="contents-link" id="writeSaveDiv" style="display: none">
                        <button type="button" id="aiPostBtn" class="btnset btnset-line-dark" >게시하기</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</div>
</div>
</div>
<div class="contents-dim"></div>
</div>

</div>
</main>
<script src="/resources/profile/toast/toastui-editor-all.min.js"></script>

<script>
const clientValid = "{{clientValid}}";

document.addEventListener("DOMContentLoaded", function() {
    if (clientValid === "N") {
        const goSetting = confirm("현재 API가 인증되지 않아 카페에 글을 게시할 수 없습니다.\n설정하시겠습니까?");
        if (goSetting) {
            window.location.href = "/myPage/postingSetting";
        }
    } else if (clientValid === "F") {
        const goSetting = confirm("기존에 인증된 API가 만료되어 카페에 글을 게시하려면 재인증이 필요합니다.\n설정하시겠습니까?");
        if (goSetting) {
            window.location.href = "/myPage/postingSetting";
        }
    }
});


const title = `{{title}}`.trim();
const contentHtml = `{{{contentHtml}}}`;

if (title !== "" && contentHtml !== "") {
    window.editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        height: '70rem',
        initialEditType: 'wysiwyg',
        previewStyle: 'vertical',
        initialValue: contentHtml
    });
    document.getElementById("writeSaveDiv").style.display = "block";
}
</script>
<script src="/js/cafe/ai/post.js"></script>
<script src="/js/cafe/ai/postRendering.js"></script>
<script src="/js/cafe/ai/postGenerate.js"></script>
<script src="/js/cafe/ai/aiPostTemplateUpdate.js"></script>

{{>layout/footer}}