{{>layout/header}}
{{>support/support-sidebar}}
<meta name="_csrf" content="{{_csrf_token}}"/>
<meta name="_csrf_header" content="{{_csrf_header}}"/>
<style>
.postRenderingContent,
.postRenderingContent * {
  font-size: large !important;
  line-height: 2 !important;
}
</style>
<div class="contents-right">
    <div class="row row-cols-3 row-md-cols-2 gutter-5 contents-list" style="margin-top: 0rem; margin-bottom: 0em; --th-gutter: 0;">
        <div class="contents-container container-md" style="padding: 0">
            <div class="contents-inner">
                <div class="form-group">
                    <form>

                        <section class="campland-N13" id="wVMf1395as" style="padding: 0;">
                            <div class="contents-container container-md" style="padding: 0">
                                <div class="contents-inner">
                                    <div class="textset" style="margin-bottom: 4rem;">
                                        <h2 class="textset-tit h6" style="font-size: 3.5rem">QnA</h2>
                                    </div>

                                    <div class="basic-N53" id="zBmewb4164" style="padding: 0;">
                                        <div class="contents-container container-md">
                                            <div class="contents-inner">
                                                <div class="accordset accordset-qna accordset-plus">
                                                    <div class="accordset-item">
                                                        <div class="accordset-header">
                                                            <button class="accordset-button btn" type="button">
                                                                <span class="h5 accordset-q">Q</span>
                                                                <span class="h6">카페 게시할 때 작성자는 어떻게 되나요?</span>
                                                            </button>
                                                        </div>
                                                        <div class="accordset-body">
                                                            <div class="accordset-content">
                                                                <span class="h5 accordset-a">A</span>
                                                                <p class="p1">
                                                                    Naver Client API 등록 시 로그인 했던 이메일로 작성됩니다.
                                                                    <br />
                                                                    AUTOCAFE 로그인 시 사용되는 이메일(혹은 추가 이메일)은 네이버 카페 글 게시와 무관합니다.
                                                                    <br />
                                                                    관련 가이드는 ~~ 에서 확인하세요.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="accordset-item">
                                                        <div class="accordset-header">
                                                            <button class="accordset-button btn" type="button">
                                                                <span class="h5 accordset-q">Q</span>
                                                                <span class="h6">AI 토큰을 전부 사용했어요. 어떻게 추가하나요?</span>
                                                            </button>
                                                        </div>
                                                        <div class="accordset-body">
                                                            <div class="accordset-content">
                                                                <span class="h5 accordset-a">A</span>
                                                                <p class="p1">
                                                                    상품이 출고 이전인 경우
                                                                    <br />
                                                                    마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는
                                                                    <br />
                                                                    주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordset-item active">
                                                        <div class="accordset-header">
                                                            <button class="accordset-button btn" type="button">
                                                                <span class="h5 accordset-q">Q</span>
                                                                <span class="h6">주문 취소를 하고 싶어요.</span>
                                                            </button>
                                                        </div>
                                                        <div class="accordset-body">
                                                            <div class="accordset-content">
                                                                <span class="h5 accordset-a">A</span>
                                                                <p class="p1">
                                                                    상품이 출고 이전인 경우
                                                                    <br />
                                                                    마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는
                                                                    <br />
                                                                    주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordset-item">
                                                        <div class="accordset-header">
                                                            <button class="accordset-button btn" type="button">
                                                                <span class="h5 accordset-q">Q</span>
                                                                <span class="h6">쿠폰은 어떻게 사용하나요?</span>
                                                            </button>
                                                        </div>
                                                        <div class="accordset-body">
                                                            <div class="accordset-content">
                                                                <span class="h5 accordset-a">A</span>
                                                                <p class="p1">
                                                                    상품이 출고 이전인 경우
                                                                    <br />
                                                                    마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는
                                                                    <br />
                                                                    주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordset-item">
                                                        <div class="accordset-header">
                                                            <button class="accordset-button btn" type="button">
                                                                <span class="h5 accordset-q">Q</span>
                                                                <span class="h6">결제 수단은 어떤 것이 있나요?</span>
                                                            </button>
                                                        </div>
                                                        <div class="accordset-body">
                                                            <div class="accordset-content">
                                                                <span class="h5 accordset-a">A</span>
                                                                <p class="p1">
                                                                    상품이 출고 이전인 경우
                                                                    <br />
                                                                    마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는
                                                                    <br />
                                                                    주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordset-item">
                                                        <div class="accordset-header">
                                                            <button class="accordset-button btn" type="button">
                                                                <span class="h5 accordset-q">Q</span>
                                                                <span class="h6">혜택에는 무엇이 있나요?</span>
                                                            </button>
                                                        </div>
                                                        <div class="accordset-body">
                                                            <div class="accordset-content">
                                                                <span class="h5 accordset-a">A</span>
                                                                <p class="p1">
                                                                    상품이 출고 이전인 경우
                                                                    <br />
                                                                    마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는
                                                                    <br />
                                                                    주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordset-item">
                                                        <div class="accordset-header">
                                                            <button class="accordset-button btn" type="button">
                                                                <span class="h5 accordset-q">Q</span>
                                                                <span class="h6">후기는 어디서 작성하나요?</span>
                                                            </button>
                                                        </div>
                                                        <div class="accordset-body">
                                                            <div class="accordset-content">
                                                                <span class="h5 accordset-a">A</span>
                                                                <p class="p1">
                                                                    상품이 출고 이전인 경우
                                                                    <br />
                                                                    마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는
                                                                    <br />
                                                                    주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordset-item">
                                                        <div class="accordset-header">
                                                            <button class="accordset-button btn" type="button">
                                                                <span class="h5 accordset-q">Q</span>
                                                                <span class="h6">회원 가입은 어떻게 하나요?</span>
                                                            </button>
                                                        </div>
                                                        <div class="accordset-body">
                                                            <div class="accordset-content">
                                                                <span class="h5 accordset-a">A</span>
                                                                <p class="p1">
                                                                    상품이 출고 이전인 경우
                                                                    <br />
                                                                    마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는
                                                                    <br />
                                                                    주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordset-item">
                                                        <div class="accordset-header">
                                                            <button class="accordset-button btn" type="button">
                                                                <span class="h5 accordset-q">Q</span>
                                                                <span class="h6">회원 탈퇴는 어떻게 하나요?</span>
                                                            </button>
                                                        </div>
                                                        <div class="accordset-body">
                                                            <div class="accordset-content">
                                                                <span class="h5 accordset-a">A</span>
                                                                <p class="p1">
                                                                    상품이 출고 이전인 경우
                                                                    <br />
                                                                    마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는
                                                                    <br />
                                                                    주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordset-item">
                                                        <div class="accordset-header">
                                                            <button class="accordset-button btn" type="button">
                                                                <span class="h5 accordset-q">Q</span>
                                                                <span class="h6">고객불만 처리는 어떻게 진행되나요?</span>
                                                            </button>
                                                        </div>
                                                        <div class="accordset-body">
                                                            <div class="accordset-content">
                                                                <span class="h5 accordset-a">A</span>
                                                                <p class="p1">
                                                                    상품이 출고 이전인 경우
                                                                    <br />
                                                                    마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는
                                                                    <br />
                                                                    주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>
</div>
<div class="contents-dim"></div>
</div>

</div>
</main>
<!--<script src="/js/feature/write.js"></script>-->
<!--<script src="/js/feature/writeRendering.js"></script>-->
{{>layout/footer}}