{{>layout/header}}
{{>support/support-sidebar}}
<meta name="_csrf" content="{{_csrf_token}}"/>
<meta name="_csrf_header" content="{{_csrf_header}}"/>
<style>
.postRenderingContent,
.postRenderingContent * {
  font-size: large !important;
  line-height: 2 !important;
}
</style>
<div class="contents-right">
    <div class="row row-cols-3 row-md-cols-2 gutter-5 contents-list" style="margin-top: 0rem; margin-bottom: 0em; --th-gutter: 0;">
        <div class="contents-container container-md" style="padding: 0">
            <div class="contents-inner">
                <div class="form-group">
                    <form>

                        <section class="campland-N13" id="wVMf1395as" style="padding: 0;">
                            <div class="contents-container container-md" style="padding: 0">
                                <div class="contents-inner">
                                    <div class="textset" style="margin-bottom: 4rem;">
                                        <h2 class="textset-tit h6" style="font-size: 3.5rem">Support</h2>
                                    </div>

                                    <div class="th-layout-content">

                                        <div class="basic-N33" id="zHmeWb23KC" style="padding-top: 3rem; padding-bottom: 3rem;">
                                            <div class="contents-container container-md">
                                                <div class="contents-inner">
                                                    <div class="row row-md-cols-1 gutter-5 contents-group">


                                                        <div class="col col-6 cardset" style="display: none;">

                                                        </div>

                                                        <div class="col col-6 cardset">
                                                            <div class="cardset-inner">
                                                                <a href="/etc/support/api" class="cardset-link">
                                                                    <figure class="cardset-figure">
                                                                        <img class="cardset-img" src="/resources/profile/img_basic_N33_2.png" alt="PC 카드 이미지" />
                                                                    </figure>
                                                                </a>
                                                                <div class="cardset-body cardset-arrow">
                                                                    <h2 class="h2 cardset-tit" style="margin-left: 2rem; margin-bottom: 1.1rem; font-size: xx-large;">Naver API 설정</h2>
                                                                    <a class="btnset btnset-icon" href="/etc/support/api" style="margin-bottom: 1.1rem;"></a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col col-6 cardset">
                                                            <div class="cardset-inner">
                                                                <a href="/etc/support/template" class="cardset-link">
                                                                    <figure class="cardset-figure">
                                                                        <img class="cardset-img" src="/resources/profile/img_basic_N33_3.png" alt="PC 카드 이미지" />
                                                                    </figure>
                                                                </a>
                                                                <div class="cardset-body cardset-arrow">
                                                                    <h2 class="h2 cardset-tit" style="margin-left: 2rem; margin-bottom: 1.1rem; font-size: xx-large;">Template 설정</h2>
                                                                    <a class="btnset btnset-icon" href="/etc/support/template" style="margin-bottom: 1.1rem;"></a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col col-6 cardset">
                                                            <div class="cardset-inner">
                                                                <a href="/etc/support/token" class="cardset-link">
                                                                    <figure class="cardset-figure">
                                                                        <img class="cardset-img" src="/resources/profile/img_basic_N33_4.png" alt="PC 카드 이미지" />
                                                                    </figure>
                                                                </a>
                                                                <div class="cardset-body cardset-arrow">
                                                                    <h2 class="h2 cardset-tit" style="margin-left: 2rem; margin-bottom: 1.1rem; font-size: xx-large;">AI Token 설정</h2>
                                                                    <a class="btnset btnset-icon" href="/etc/support/token" style="margin-bottom: 1.1rem;"></a>
                                                                </div>
                                                            </div>
                                                        </div>




                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>
</div>
<div class="contents-dim"></div>
</div>

</div>
</main>
<!--<script src="/js/feature/write.js"></script>-->
<!--<script src="/js/feature/writeRendering.js"></script>-->
{{>layout/footer}}