{{>layout/header}}
{{>layout/featuresSidebar}}
<meta name="_csrf" content="{{_csrf_token}}"/>
<meta name="_csrf_header" content="{{_csrf_header}}"/>
<style>
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 제목/주제 열 내부 a, span 처리 */
.tableset-tit a,
.tableset-tit span {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>
<div class="contents-right">
    <div class="row row-cols-3 row-md-cols-2 gutter-5 contents-list" style="margin-top: 0rem; margin-bottom: 0em; --th-gutter: 0;">
        <div class="contents-container container-md">
            <div class="contents-inner">
                <div class="form-group">
                    <form>
                        <div class="textset">
                            <h2 class="h2 textset-tit">AI 글쓰기 목록</h2>
                        </div>
                        <section class="butti-N25" id="uZMf138FND" style="padding-top: 0rem;">
                            <div class="contents-container container-md">
                                <div class="contents-inner">
                                    <div class="title-area">
                                        <span class="p2">총 {{count}}개의 게시물이 있습니다</span>
                                    </div>
                                    <div class="tableset tableset-fract">
                                        <table class="tableset-table table">
                                            <colgroup>
                                                <col style="width: 10%;"/>
                                                <col style="width: 45%;"/>
                                                <col style="width: 20%;"/>
                                                <col style="width: 15%;"/>
                                                <col style="width: 10%;"/>
                                            </colgroup>
                                            <thead class="thead-light thead-border-top">
                                            <tr>
                                                <th scope="col" class="p2">NO</th>
                                                <th scope="col" class="p2">제목</th>
                                                <th scope="col" class="p2">주제</th>
                                                <th scope="col" class="p2">작성일</th>
                                                <th scope="col" class="p2">삭제</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#writes}}
                                                <tr>
                                                    <td>{{no}}
                                                        <p id="id_{{no}}" data-value="{{id}}" style="display:none"></p>
                                                    </td>
                                                    <td>
                                                        <a href="/feature/write/list/info/{{id}}">
                                                            <span>{{title}}</span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="/feature/write/list/info/{{id}}">
                                                            <span>{{subject}}</span>
                                                        </a>
                                                    </td>
                                                    <td>{{date}}</td>
                                                    <td>
                                                        <a href="javascript:void(0)" style="display:flex;justify-content:center;align-items:center;height:2.5rem;">
                                                            <img class="delete-btn"  src="/resources/profile/delete.svg" data-id="{{id}}" style="width:2rem;object-fit:contain;">
                                                        </a>
                                                    </td>
                                                </tr>
                                            {{/writes}}
                                            </tbody>
                                        </table>
                                    </div>
                                    <nav class="pagiset pagiset-circ">
                                        <div class="pagiset-ctrl">
                                            <a class="pagiset-link pagiset-first" href="/feature/write/list?page=1"></a>
                                        </div>
                                        <div class="pagiset-ctrl">
                                            <a class="pagiset-link pagiset-prev" href="/feature/write/list?page={{prevPage}}"></a>
                                        </div>
                                        <div class="pagiset-list">
                                            {{#pages}}
                                                <a class="pagiset-link {{#isCurrent}}active-fill{{/isCurrent}}" href="/feature/write/list?page={{num}}">{{num}}</a>
                                            {{/pages}}
                                        </div>
                                        <div class="pagiset-ctrl">
                                            <a class="pagiset-link pagiset-next" href="/feature/write/list?page={{nextPage}}"></a>
                                        </div>
                                        <div class="pagiset-ctrl">
                                            <a class="pagiset-link pagiset-last" href="/feature/write/list?page={{totalPages}}"></a>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>
</div>
<div class="contents-dim"></div>
</div>

</div>
</main>

<script src="/js/feature/writeDelete.js"></script>
<!--<script src="/js/feature/writeRendering.js"></script>-->
{{>layout/footer}}