<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>잘못된 접근</title>
    <script>
        alert("수칙 위반으로 블랙리스트 유저입니다. 기능 사용이 불가능합니다.");
        window.location.href = "/";
    </script>
</head>
<body></body>
</html>
