{{>layout/header}}
<meta name="_csrf" content="{{_csrf_token}}"/>
<meta name="_csrf_header" content="{{_csrf_header}}"/>

<main class="th-layout-main">
    <div class="th-layout-content">
        <section class="butti-N10" id="Rymf138FGh" style="height: 8.2rem;">
        </section>
        <div class="butti-N11" id="nmmf138fix">
            <div class="contents-container container-md">
                <div class="tabset tabset-fluid border-bottom">
                    <ul class="tabset-list tabset-lg">
                        <li class="tabset-item">
                            <a class="tabset-link active" href="#SignInForm">
                                <span>로그인</span>
                            </a>
                        </li>
                        <li class="tabset-item">
                            <a class="tabset-link" href="#SignUpForm">
                                <span>회원가입</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <section class="butti-N25" id="SignInForm">

        </section>

        <section class="butti-N25" id="SignInForm">

        </section>
    </div>
</main>

<script>
  const links = document.querySelectorAll('.tabset-link');
  const signInForm = document.getElementById('SignInForm');
  const signUpForm = document.getElementById('SignUpForm');

  links.forEach(link => {
    link.addEventListener('click', (e) => {
      e.preventDefault();

      // active 클래스 토글
      links.forEach(l => l.classList.remove('active'));
      link.classList.add('active');

      // 폼 표시 토글
      if (link.getAttribute('href') === '#SignInForm') {
        signInForm.style.display = 'block';
        signUpForm.style.display = 'none';
      } else {
        signInForm.style.display = 'none';
        signUpForm.style.display = 'block';
      }
    });
  });
</script>
<script src="/js/user/emailCheck.js"></script>
<script src="/js/user/clientCheck.js"></script>
<script src="/js/user/signUp.js"></script>
<script type="text/javascript">
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('error')) {
        alert('등록되지 않은 아이디이거나 아이디 또는 비밀번호를 잘못 입력했습니다.');
    }
</script>
{{>layout/footer}}