{{>layout/header}}
<meta name="_csrf" content="{{_csrf_token}}"/>
<meta name="_csrf_header" content="{{_csrf_header}}"/>
  <main class="th-layout-main">
    <div class="th-layout-content">
      <div class="basic-N39" id="FvMf231FC4">
        <div class="contents-container container-lg">
          <div class="contents-inner">
            <div class="contents-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="contents-backimg">
                    <picture>
                      <source srcset="./resources/images/img_mainvisual_mobile_03.png" media="(max-width: 992px)" />
                      <img class="imageset-img" src="./resources/images/img_mainvisual_03.png" alt="비주얼 이미지" />
                    </picture>
                  </div>
                  <div class="contents-slide-group">
                    <div class="textset">
                      <h2 class="h1 textset-tit">
                        Temha Mall
                        <br />
                        Home Essentials
                      </h2>
                      <p class="p1 textset-desc">
                        당사의 제품은 100% 품질 보장이며, 만족도를 최우선으로 생각하며,
                        <br />
                        고객 만족을 위해 항상 최선을 다하겠습니다. 문의사항이 있으시면 언제든지 연락주세요!
                      </p>
                    </div>
                    <a class="btnset btnset-line-white btnset-lg" href="javascript:void(0)">자세히보기</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="contents-backimg">
                    <picture>
                      <source srcset="./resources/images/img_mainvisual_mobile_03.png" media="(max-width: 992px)" />
                      <img class="imageset-img" src="./resources/images/img_mainvisual_03.png" alt="비주얼 이미지" />
                    </picture>
                  </div>
                  <div class="contents-slide-group">
                    <div class="textset">
                      <h2 class="h1 textset-tit">
                        Temha Mall
                        <br />
                        Home Essentials
                      </h2>
                      <p class="p1 textset-desc">
                        당사의 제품은 100% 품질 보장이며, 만족도를 최우선으로 생각하며,
                        <br />
                        고객 만족을 위해 항상 최선을 다하겠습니다. 문의사항이 있으시면 언제든지 연락주세요!
                      </p>
                    </div>
                    <a class="btnset btnset-line-white btnset-lg" href="javascript:void(0)">자세히보기</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="contents-backimg">
                    <picture>
                      <source srcset="./resources/images/img_mainvisual_mobile_03.png" media="(max-width: 992px)" />
                      <img class="imageset-img" src="./resources/images/img_mainvisual_03.png" alt="비주얼 이미지" />
                    </picture>
                  </div>
                  <div class="contents-slide-group">
                    <div class="textset">
                      <h2 class="h1 textset-tit">
                        Temha Mall
                        <br />
                        Home Essentials
                      </h2>
                      <p class="p1 textset-desc">
                        당사의 제품은 100% 품질 보장이며, 만족도를 최우선으로 생각하며,
                        <br />
                        고객 만족을 위해 항상 최선을 다하겠습니다. 문의사항이 있으시면 언제든지 연락주세요!
                      </p>
                    </div>
                    <a class="btnset btnset-line-white btnset-lg" href="javascript:void(0)">자세히보기</a>
                  </div>
                </div>
              </div>
              <div class="contents-control">
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-pause">
                  <img src="./resources/icons/ico_pause_white.svg" alt="스와이퍼 멈춤버튼" />
                </div>
                <div class="swiper-button-play">
                  <img src="./resources/icons/ico_play_white.svg" alt="스와이퍼 재생버튼" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="basic-N40" id="SZmF231fdh">
        <div class="contents-container container-md">
          <div class="contents-inner">
            <div class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="./resources/images/img_basic_N40_1.png" alt="이미지" />
              </figure>
              <div class="cardset-body">
                <h5 class="h4 cardset-tit">자연에서 찾은 비밀로
                  <br />
                  피부 자극 없이
                  <br /> 활력을 불어넣는 제품
                </h5>
                <p class="p1 cardset-desc">
                  피부 관리를 위해 사용되는 화장품 제품군 중 하나로,
                  <br />
                  피부 건강을 유지하고 개선하기 위한 다양한 솔루션을 제공합니다.
                </p>
              </div>
            </div>
            <div class="cardset">
              <div class="cardset-body">
                <h5 class="h4 cardset-tit">화려한 컬러로 돋보이는
                  <br />
                  아름다움을 완성하는 브랜드
                </h5>
                <p class="p1 cardset-desc">
                  피부 관리를 위해 사용되는 화장품 제품군 중 하나로,
                  <br />
                  피부 건강을 유지하고 개선하기 위한 다양한 솔루션을 제공합니다.
                </p>
              </div>
              <figure class="cardset-figure">
                <img class="cardset-img" src="./resources/images/img_basic_N40_2.png" alt="이미지" />
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="basic-N41" id="ucmF231FF6">
        <div class="contents-container container-md">
          <div class="imageset">
            <picture>
              <source srcset="./resources/images/img_basic_mobile_N41_1.png" media="(max-width: 992px)" />
              <img class="imageset-img" src="./resources/images/img_basic_N41_1.png" alt="이미지" />
            </picture>
          </div>
          <div class="textset textset-center">
            <h2 class="h3 textset-tit">당신의 아름다움을 최고로 빛내줄 동반자,
              <br />
              자신감 넘치는 피부 우리와 함께 빛나는 피부로 새로운 나를 발견하세요.
            </h2>
            <p class="p1 textset-desc">
              피부 내부의 수분을 보호하여 촉촉하고 탄력 있는 피부를 유지하며
              <br />
              피부를 진정시키고 염증을 완화하여 민감한 피부를 보호합니다.
            </p>
          </div>
        </div>
      </div>
      <div class="basic-N42" id="RHMF231fhp">
        <div class="contents-container container-md">
          <div class="contents-inner">
            <div class="textset">
              <h2 class="h2 textset-tit">Best Product</h2>
              <p class="p1 textset-desc">베스트 상품을 지금 바로 만나보세요!</p>
            </div>
            <div class="swiper contents-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="javascript:void(0);" class="cardset">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="./resources/images/img_basic_N42_1.png" alt="스와이퍼 이미지" />
                    </figure>
                    <div class="cardset-body">
                      <span class="p2 cardset-name">Temhamol</span>
                      <h2 class="p1 cardset-tit">
                        템하몰 방문손잡이 (3color)
                      </h2>
                      <p class="h6 cardset-desc">32,000<small class="p1">원</small>
                      </p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="javascript:void(0);" class="cardset">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="./resources/images/img_basic_N42_2.png" alt="스와이퍼 이미지" />
                    </figure>
                    <div class="cardset-body">
                      <span class="p2 cardset-name">Temhamol</span>
                      <h2 class="p1 cardset-tit">
                        템하몰 방문손잡이 (3color)
                      </h2>
                      <p class="h6 cardset-desc">32,000<small class="p1">원</small>
                      </p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="javascript:void(0);" class="cardset">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="./resources/images/img_basic_N42_3.png" alt="스와이퍼 이미지" />
                    </figure>
                    <div class="cardset-body">
                      <span class="p2 cardset-name">Temhamol</span>
                      <h2 class="p1 cardset-tit">
                        템하몰 방문손잡이 (3color)
                      </h2>
                      <p class="h6 cardset-desc">32,000<small class="p1">원</small>
                      </p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="javascript:void(0);" class="cardset">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="./resources/images/img_basic_N42_4.png" alt="스와이퍼 이미지" />
                    </figure>
                    <div class="cardset-body">
                      <span class="p2 cardset-name">Temhamol</span>
                      <h2 class="p1 cardset-tit">
                        템하몰 방문손잡이 (3color)
                      </h2>
                      <p class="h6 cardset-desc">32,000<small class="p1">원</small>
                      </p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="javascript:void(0);" class="cardset">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="./resources/images/img_basic_N42_1.png" alt="스와이퍼 이미지" />
                    </figure>
                    <div class="cardset-body">
                      <span class="p2 cardset-name">Temhamol</span>
                      <h2 class="p1 cardset-tit">
                        템하몰 방문손잡이 (3color)
                      </h2>
                      <p class="h6 cardset-desc">32,000<small class="p1">원</small>
                      </p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="javascript:void(0);" class="cardset">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="./resources/images/img_basic_N42_2.png" alt="스와이퍼 이미지" />
                    </figure>
                    <div class="cardset-body">
                      <span class="p2 cardset-name">Temhamol</span>
                      <h2 class="p1 cardset-tit">
                        템하몰 방문손잡이 (3color)
                      </h2>
                      <p class="h6 cardset-desc">32,000<small class="p1">원</small>
                      </p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="javascript:void(0);" class="cardset">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="./resources/images/img_basic_N42_3.png" alt="스와이퍼 이미지" />
                    </figure>
                    <div class="cardset-body">
                      <span class="p2 cardset-name">Temhamol</span>
                      <h2 class="p1 cardset-tit">
                        템하몰 방문손잡이 (3color)
                      </h2>
                      <p class="h6 cardset-desc">32,000<small class="p1">원</small>
                      </p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="javascript:void(0);" class="cardset">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="./resources/images/img_basic_N42_4.png" alt="스와이퍼 이미지" />
                    </figure>
                    <div class="cardset-body">
                      <span class="p2 cardset-name">Temhamol</span>
                      <h2 class="p1 cardset-tit">
                        템하몰 방문손잡이 (3color)
                      </h2>
                      <p class="h6 cardset-desc">32,000<small class="p1">원</small>
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
      <div class="basic-N43" id="koMF231fJ8">
        <div class="contents-container container-md">
          <div class="contents-inner">
            <div class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="./resources/images/img_basic_N43_1.png" alt="카드 이미지" />
              </figure>
              <div class="cardset-body">
                <h2 class="h5 cardset-tit">템하몰 무료 배송</h2>
                <p class="p1 cardset-desc">
                  100,000원 이상 구매 시 무료 배송 혜택을 드립니다
                  <br /> 지금 주문하고 편리하게 받아보세요!
                </p>
              </div>
            </div>
            <div class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="./resources/images/img_basic_N43_2.png" alt="카드 이미지" />
              </figure>
              <div class="cardset-body">
                <h2 class="h5 cardset-tit">템하몰 할인 이벤트</h2>
                <p class="p1 cardset-desc">
                  봄맞이 세일 특별 기프트 !
                  <br />
                  구매 시 추가 10% 할인 혜택을 드립니다.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="basic-N44" id="rQMf231fLk">
        <div class="contents-container container-md">
          <div class="contents-inner">
            <div class="textset">
              <h2 class="h2 textset-tit">Skin Solution</h2>
            </div>
            <ul class="row row-cols-3 row-md-cols-1 gutter-5">
              <li class="col">
                <div class="cardset cardset-round">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="./resources/images/img_basic_N44_1.png" alt="카드 이미지" />
                  </figure>
                  <div class="cardset-body">
                    <h2 class="h6 cardset-tit">수분 공급과 보습</h2>
                    <p class="p1 cardset-desc">
                      피부 내부의 수분을 유지하고 보호하여 촉촉하고
                      <br />
                      탄력 있는 피부를 유지합니다.
                    </p>
                  </div>
                </div>
              </li>
              <li class="col">
                <div class="cardset cardset-round">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="./resources/images/img_basic_N44_2.png" alt="카드 이미지" />
                  </figure>
                  <div class="cardset-body">
                    <h2 class="h6 cardset-tit">피부 진정과 염증 완화</h2>
                    <p class="p1 cardset-desc">
                      피부 내부의 수분을 유지하고 보호하여 촉촉하고
                      <br />
                      탄력 있는 피부를 유지합니다.
                    </p>
                  </div>
                </div>
              </li>
              <li class="col">
                <div class="cardset cardset-round">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="./resources/images/img_basic_N44_3.png" alt="카드 이미지" />
                  </figure>
                  <div class="cardset-body">
                    <h2 class="h6 cardset-tit">피부 탄력과 주름 개선</h2>
                    <p class="p1 cardset-desc">
                      피부 내부의 수분을 유지하고 보호하여 촉촉하고
                      <br />
                      탄력 있는 피부를 유지합니다.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
{{>layout/footer}}