<!DOCTYPE html>
<html>
<head>
    <title>Naver OAuth Login</title>
</head>
<body>
<h1>네이버 로그인 테스트</h1>

<form action="/naverLogin1" method="post">
    <label>Client ID:</label>
    <input type="text" name="clientId" required value="dmvYuC3cmUwzG_KtXtgh"/><br/><br/>

    <label>Redirect URI:</label>
    <input type="text" name="redirectUri" required value="http://127.0.0.1:7070/oauth/callback"/><br/><br/>

    <button type="submit">네이버 로그인</button>
</form>

</body>
</html>
