{{>layout/header}}
<meta name="_csrf" content="{{_csrf_token}}"/>
<meta name="_csrf_header" content="{{_csrf_header}}"/>

<main class="th-layout-main">
    <div class="th-layout-content">
        <section class="butti-N10" id="Rymf138FGh" style="height: 8.2rem;">
        </section>
        <section class="" id="ets">
            <div class="basic-N24" id="SignUpForm" style="">
                <div class="contents-container container-md">
                    <div class="contents-inner">
                        <div class="form-group">
                            <form>
                                <div class="textset">
                                    <h2 class="h2 textset-tit">회원가입</h2>
                                </div>
                                <div class="contents-sort">
                                    <p class="p1 contents-sort-total">
                                        총 1010 개의 제품이 있습니다.
                                    </p>
                                    <div class="contents-sort-sel">
                                        <div class="tabset tabset-text">
                                            <ul class="tabset-list">
                                                <li class="tabset-item">
                                                    <a class="tabset-link active" href="javascript:void(0)">
                                                        <span>인기순</span>
                                                    </a>
                                                </li>
                                                <li class="tabset-item">
                                                    <a class="tabset-link" href="javascript:void(0)">
                                                        <span>리뷰많은순</span>
                                                    </a>
                                                </li>
                                                <li class="tabset-item">
                                                    <a class="tabset-link" href="javascript:void(0)">
                                                        <span>높은가격순</span>
                                                    </a>
                                                </li>
                                                <li class="tabset-item">
                                                    <a class="tabset-link" href="javascript:void(0)">
                                                        <span>낮은가격순</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="selectset">
                                            <div class="selectset-area">
                                                <button class="selectset-toggle btn" type="button">
                                                    <span>12개씩 보기</span>
                                                </button>
                                                <ul class="selectset-list">
                                                    <li class="selectset-item">
                                                        <button class="selectset-link btn" type="button" data-value="전체">
                                                            <span>전체</span>
                                                        </button>
                                                    </li>
                                                    <li class="selectset-item">
                                                        <button class="selectset-link btn" type="button" data-value="12개씩 보기">
                                                            <span>12개씩 보기</span>
                                                        </button>
                                                    </li>
                                                    <li class="selectset-item">
                                                        <button class="selectset-link btn" type="button" data-value="30개씩 보기">
                                                            <span>30개씩 보기</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-box">
                                    <div class="inputset">
                                        <label for="signUpLogin" class="form-tit h6" style="margin-bottom: 2rem;">이메일</label>
                                        <div style="display: flex; gap: 8px; align-items: center; margin-bottom: 4rem;">
                                            <input id="signUpLogin" type="text" class="inputset-input form-control" placeholder="이메일을 입력해 주세요." />
                                            <button class="btnset btnset-primary btnset-block" type="button" id="checkEmailDupBtn" style="width: 30%;">중복 검사</button>
                                            <button class="btnset btnset-primary btnset-block" type="button" id="rewriteEmailBtn" style="width: 30%; margin-top: 0; margin-left: 0; background: darkgray; pointer-events: none; cursor: default;">이메일 재작성</button>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-box">
                                    <div class="inputset">
                                        <label for="signUpAuthCode" class="form-tit h6" style="margin-bottom: 2rem;">이메일 인증</label>  <span id="countdown"></span>
                                        <div style="display: flex; gap: 8px; align-items: center; margin-bottom: 4rem;">
                                            <input id="signUpAuthCode" type="password" class="inputset-input form-control" placeholder="이메일에 전송된 인증문자를 입력해 주세요." disabled />
                                            <button class="btnset btnset-primary btnset-block" type="button" id="sendAuthBtn" style="width: 30%; margin-top: 0; margin-left: 0; background: darkgray; pointer-events: none; cursor: default;">인증문자 전송</button>
                                            <button class="btnset btnset-primary btnset-block" type="button" id="verifyAuthBtn" style="width: 30%; margin-top: 0; margin-left: 0; background: darkgray; pointer-events: none; cursor: default;">인증문자 확인</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-box" style="margin-top:2rem">
                                    <div class="inputset">
                                        <label for="signUpAuthCode" class="form-tit h6" style="margin-bottom: 2rem;">비밀번호</label>
                                        <div style="display: flex; gap: 8px; align-items: center; margin-bottom: 4rem;">
                                            <input id="signUpAuthPassword" type="password" class="inputset-input form-control" placeholder="비밀번호를 입력해 주세요." />
                                            <input id="signUpAuthPasswordCheck" type="password" class="inputset-input form-control" placeholder="비밀번호를 한번 더 입력해 주세요." />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-box" style="display: none;">
                                    <div class="inputset" style="margin-top: 3rem;">
                                        <label for="" class="form-tit h6" style="margin-bottom: 2rem;">Client 정보</label>
                                        <div style="display: flex;gap: 8px;align-items: center;">
                                            <div style="width: 40%">
                                                <label for="signUpClientId" class="checkset-label" style="margin-bottom: 1rem;">Client ID</label>
                                                <input type="text" id="signUpClientId" class="inputset-input form-control" value="dmvYuC3cmUwzG_KtXtgh" placeholder="Client ID 를 입력해주세요"/>
                                            </div>
                                            <div style="width: 40%">
                                                <label for="signUpClientSecret" class="checkset-label" style="margin-bottom: 1rem;">Client Secret</label>
                                                <input type="password" id="signUpClientSecret" class="inputset-input form-control" value="lGVLRAUMrb" placeholder="Client Secret 입력해주세요"/>
                                            </div>
                                            <div style="width: 20%;">
                                                <label for="" class="checkset-label" style="margin-bottom: 1rem;"></label>
                                                <button type="button" id="naverLoginBtn" class="btnset btnset-primary btnset-block">Client 확인</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contents-agree">
                                    <div class="checkset checkset-fill">
                                        <input id="isPrivacyAgreed" name="개인정보 수집동의" class="checkset-input" type="checkbox" value="개인정보 수집동의" />
                                        <label for="isPrivacyAgreed" class="checkset-label">개인정보 수집동의</label>
                                    </div>
                                    <a href="javascript:void(0);" class="btnset btnset-link modalset-open-btn modal-privacy-btn" data-modal-target="modalset-agree">보기</a>
                                </div>
                                <div class="form-btn">
                                    <button class="btnset btnset-primary btnset-block" type="button" id="userRegister">회원 가입</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="campland-N13" id="wVMf1395as">
            <div class="contents-container container-md">
                <div class="contents-inner">
                    <div class="textset">
                        <h2 class="textset-tit h6">고객여러분께 알려드립니다.</h2>
                        <p class="textset-desc p2">홈페이지 담당자 <span>2023.01.01</span>
                        </p>
                    </div>
                    <div class="contents-body">
                        <p class="contents-text p2">
                            안녕하세요.
                            <br />
                            CAMPLAND 홈페이지 담당자입니다.
                            <br />
                            <br />
                            웹 페이지 산출물이 나오는 과정은 3명의 전문가들의 각각의 시간을 할애하여 생산하는 부분을 템플릿 하우스를 사용하면 1사람이
                            <br />
                            원 클릭과 드래그앤 드랍 방식을 통해 웹 페이지를 10분 만에 생성하고 코드 편집과 코드 산출물 다운로드 기능을 통해 더 자유롭게 개발할 수 있습니다.
                            <br />
                            <br />
                            더 궁금하신 사항은 아래 전화번호 메일을 통해 연락주시길 바랍니다.
                            <br />
                            감사합니다.
                            <br />
                            <br />
                            문의사항 : 02-123-4567 / help@openfield.co.kr
                        </p>
                    </div>
                    <div class="contents-link">
                        <a href="./resources/etc/javascipt_void0_" class="btnset btnset-line-dark">목록으로</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

{{>layout/footer}}