{{>layout/header}}
{{>layout/featuresSidebar}}
<meta name="_csrf" content="{{_csrf_token}}"/>
<meta name="_csrf_header" content="{{_csrf_header}}"/>
<link rel="stylesheet" href="/resources/profile/toast/toastui-editor.min.css" />
<style>
<!--#contentsBody ul {-->
<!--  list-style-type: disc;-->
<!--  padding-left: 20px;-->
<!--  margin: 0;-->
<!--}-->

<!--#contentsBody ul ul {-->
<!--  list-style-type: circle;
<!--  padding-left: 20px;-->
<!--}-->

<!--#contentsBody li {-->
<!--  margin: 0;-->
<!--  padding: 0;-->
<!--}-->

<!--#contentsBody li p {-->
<!--  display: inline;
<!--  margin: 0;-->
<!--}-->
</style>
<div class="contents-right">
    <div class="row row-cols-3 row-md-cols-2 gutter-5 contents-list" style="margin-top: 0rem; margin-bottom: 0em; --th-gutter: 0;">
        <div class="contents-container container-md">
            <div class="contents-inner">
                <div class="form-group">
                    <form>
                        <div class="textset">
                            <h2 class="h2 textset-tit">Cafe 포스팅</h2>
                        </div>
                        <div class="form-box" style="margin-bottom: 4rem">
                            <div class="inputset inputset-line">
                                <label for="basic-N37-inputset-a-1" class="form-tit h6" style="margin-bottom: 2rem;">Cafe 이름
                                </label>
                                <div id="cafeIdTemplate" data-template='{{{cafeIdTemplate}}}' style="display:none;"></div>
                                <div class="selectset">
                                    <div class="selectset-area">
                                        <button id="selectedCafeIdBtn" class="selectset-toggle btn" type="button">
                                            <span id="templateName">템플릿</span>
                                        </button>
                                        <ul class="selectset-list" id="cafeNameList">
                                            <li class="selectset-item">

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-box" style="margin-bottom: 4rem">
                            <div class="inputset inputset-line">
                                <label for="basic-N37-inputset-a-1" class="form-tit h6" style="margin-bottom: 2rem;">Cafe 포스팅 Template
                                </label>
                                <div id="cafePostingTemplate" data-template='{{{cafePostingTemplate}}}' style="display:none;"></div>
                                <div class="selectset">
                                    <div class="selectset-area">
                                        <button id="selectedTagBtn" class="selectset-toggle btn" type="button">
                                            <span id="templateName">템플릿</span>
                                        </button>
                                        <ul class="selectset-list" id="tagList">
                                            <li class="selectset-item">

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-box" style="margin-bottom: 4rem">
                            <div class="inputset inputset-line">
                                <label for="subject" class="form-tit h6">제목 <span>*</span>
                                </label>
                                <input id="subject" type="text" class="inputset-input form-control" placeholder="게시될 제목을 입력해주세요." required="" />
                            </div>
                        </div>
                        <div class="form-box" style="margin-bottom: 4rem">
                            <div class="inputset inputset-line">
                                <label for="prompt" class="form-tit h6" style="margin-bottom: 2rem;">내용 <span>*</span></label>

                                <div id="editor"></div>
                                <span class="inputset-count" style="display: none">0</span>
                            </div>
                        </div>

                        <div class="form-btn" style="margin-bottom: 3rem; text-align: center">
                            <button class="btnset btnset-secondary" type="button" id="postTestBtn">미리보기</button>
                            <button class="btnset btnset-primary" type="button" id="postBtn">게시하기</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="form-box" style="padding-top: 3rem;">
            <div class="inputset" id="spinner" style=" visibility: hidden; text-align: center;">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

        <section class="campland-N13" id="wVMf1395as" style="padding-top: 2rem;">
            <div class="contents-container container-md">
                <div class="contents-inner">
                    <div class="textset">
                        <h2 class="textset-tit h6" id="title" value="{{title}}">{{title}}</h2>
                    </div>
                    <div class="contents-body" id="contentsBody" style="display: block">
                        <p class="contents-text p2" id="content">{{content}}</p>
                        <p id="imgUrls" data-value="{{imgUrls}}" style="display:none"></p>
                    </div>
                    <div class="contents-link" id="contentsClear">
                    </div>

                    <div class="contents-link" id="writeSaveDiv" style="display: none">
                        <button type="button" id="writeSave" class="btnset btnset-line-dark" >저장하기</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</div>
</div>
</div>
<div class="contents-dim"></div>
</div>

</div>
</main>
<script src="/resources/profile/toast/toastui-editor-all.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const titleEl = document.getElementById("title");
    const writeSaveDiv = document.getElementById("writeSaveDiv");
    if (titleEl.textContent.trim() !== "") {
        writeSaveDiv.style.display = "block";
    }

    const contentElement = document.getElementById("content");
    let contentHtml = contentElement.textContent;

    const imgUrls = [
        {{#imgUrls}}
            '{{.}}',
        {{/imgUrls}}
    ];

    imgUrls.forEach((imgUrl, index) => {
        const photoTag = `[사진${index + 1}]`;
        const imgHtml = `<br><img src="${imgUrl}" style="max-width:100%;"><br>`;
        contentHtml = contentHtml.replace(photoTag, imgHtml);
    });

    contentHtml = contentHtml.replace(/\r\n/g, "\n").replace(/\n/g, "<br>");

    contentElement.innerHTML = contentHtml;
});
</script>
<script src="/js/cafe/postRendering.js"></script>
<script src="/js/cafe/postExample.js"></script>
<script src="/js/cafe/post.js"></script>

{{>layout/footer}}