{{>layout/popupHeader}}
                    <label for="basic-N24-inputset-a-1" class="form-tit h6">인증에 실패하셨습니다.</label>
                  </div>
                  <div class="inputset">
                    <label for="checkset-basic-N24-b-1" class="checkset-label">ERROR Code : F003</label>
                  </div>
                  <div class="inputset">
                      <label for="checkset-basic-N24-b-1" class="checkset-label">
                          네트워크 환경 또는 설정 문제로 Client 인증이 완료되지 않았습니다.
                      </label>
                    <label for="checkset-basic-N24-b-1" class="checkset-label">
                        1. 안정적인 네트워크(와이파이/데이터 등)에 연결되어 있는지 확인합니다.
                    </label>
                    <label for="checkset-basic-N24-b-1" class="checkset-label">
                        2. 브라우저를 새로고침하거나 다시 로그인 시도합니다.
                    </label>
                    <label for="checkset-basic-N24-b-1" class="checkset-label">
                        3. 문제가 지속된다면 관리자에게 문의해주세요.
                    </label>
                  </div>
                </div>
                <div class="form-btn" style="margin-top: 5rem;">
                  <button type="button" class="btnset btnset-primary btnset-block" onclick="window.close();">닫기</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

{{>layout/popupFooter}}