{{>layout/popupHeader}}
                    <label for="basic-N24-inputset-a-1" class="form-tit h6">인증에 실패하셨습니다.</label>
                  </div>
                  <div class="inputset">
                    <label for="checkset-basic-N24-b-1" class="checkset-label">ERROR Code : F002</label>
                  </div>
                  <div class="inputset">
                      <label for="checkset-basic-N24-b-1" class="checkset-label">
                          Client Secret 를 다시 확인해주세요.
                      </label>
                    <label for="checkset-basic-N24-b-1" class="checkset-label">
                        https://developers.naver.com/apps/#/list dml
                    </label>
                  </div>
                </div>
                <div class="form-btn" style="margin-top: 5rem;">
                  <button type="button" class="btnset btnset-primary btnset-block" onclick="window.close();">닫기</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

{{>layout/popupFooter}}