{{>layout/popupHeader}}
                    <label for="basic-N24-inputset-a-1" class="form-tit h6">인증에 실패하셨습니다.</label>
                  </div>
                  <div class="inputset">
                    <label for="checkset-basic-N24-b-1" class="checkset-label">ERROR Code : F001</label>
                  </div>
                  <div class="inputset">
                      <label for="checkset-basic-N24-b-1" class="checkset-label">
                          이메일 인증이 필요합니다.
                      </label>
                      <label for="checkset-basic-N24-b-1" class="checkset-label">
                          재 로그인 혹은 이메일 인증을 진행해주세요.
                      </label>
                  </div>
                </div>
                <div class="form-btn" style="margin-top: 5rem;">
                  <button type="button" class="btnset btnset-primary btnset-block" onclick="window.close();">닫기</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

{{>layout/popupFooter}}